[project]
	description = Pligg Content Management System
[access "refs/*"]
	owner = group user/Dow Jones (dowworks)
[access "refs/for/refs/*"]
	read = group user/Dow Jones (dowworks)
	push = group user/Dow Jones (dowworks)
	label-Code-Review = -2..+2 group user/Dow Jones (dowworks)
	label-Verified = -1..+1 group user/Dow Jones (dowworks)
	rebase = group user/Dow Jones (dowworks)
	removeReviewer = group user/Dow Jones (dowworks)
	submit = group user/Dow Jones (dowworks)
[access "refs/heads/*"]
	read = group user/Dow Jones (dowworks)
	create = group user/Dow Jones (dowworks)
	push = +force group user/Dow Jones (dowworks)
	pushMerge = group user/Dow Jones (dowworks)
[access "refs/tags/*"]
	push = +force group user/Dow Jones (dowworks)
	pushTag = group user/Dow Jones (dowworks)
	pushSignedTag = group user/Dow Jones (dowworks)
